[Desktop Entry]
Encoding = UTF-8
Name = Calendar-Indicator
Version = 0.0.9.2
Comment = An indicator for Google Calendar
GenericName = Calendar-Indicator
Terminal = false
Icon = /usr/share/calendar-indicator/icons/calendar-indicator.svg
Type = Application
Exec = /usr/bin/calendar-indicator
Categories = GNOME;GTK;Application;Utils;
Name[nl] = Kalender
Name[it] = Calendario
Name[fr] = Calendrier
Name[es] = Calendario
Name[ms] = Kalendar
Name[tr] = Calendar-Indicator
Name[sk] = Kalendár
Name[uk] = Calendar-Indicator
Name[de] = Kalender
Name[zh_CN] = 日历
Name[hr] = Kalendar
Name[pl] = Kalendarz
Name[hu] = Calendar-Indicator
Name[fi] = Kalenteri
Name[et] = Calendar-Indicator
Name[gl] = Calendario
Name[cs] = Kalendář
Name[pt_BR] = Calendário
Name[ca] = Calendari
Name[sl] = Calendar-Indicator
Name[ru] = Calendar-Indicator
Name[nb] = Calendar-Indicator
Name[ko] = Calendar-Indicator
Name[el] = Ημερολογιο
Name[pt] = Calendário
Comment[nl] = Een indicator voor Google Agenda
Comment[it] = Un indicatore per Google Calendar
Comment[fr] = Un indicateur pour Google Agenda
Comment[es] = Un indicador de Google Calendar
Comment[ms] = Merupakan penunjuk untuk Google Calendar
Comment[tr] = Google Takvim için bir gösterge
Comment[sk] = Indikátor pre Google Kalendár
Comment[uk] = Індикатор для  календаря Google
Comment[de] = Eine Indikatorapplet für Google Calendar
Comment[zh_CN] = Google 日历提示器
Comment[hr] = Indikator za  Google kalendar
Comment[pl] = An indicator for Google Calendar
Comment[hu] = Indikátor a Google Naptárhoz
Comment[fi] = Ilmaisin Google-kalenteria varten
Comment[et] = An indicator for Google Calendar
Comment[gl] = Un indicador para Google Calendar
Comment[cs] = Indikátor pro Google Kalendář
Comment[pt_BR] = Um indicador para Google Calendar
Comment[ca] = Un indicador per al calendari de Google
Comment[sl] = Indikator za Google Calendar
Comment[ru] = Индикатор для Календаря Google
Comment[nb] = En indikator for Google Kalender
Comment[ko] = An indicator for Google Calendar
Comment[el] = Ένα Indicator για το Google Calendar
Comment[pt] = Um indicador para o Google Calendar
GenericName[nl] = Kalender
GenericName[it] = Calendario
GenericName[fr] = Calendrier
GenericName[es] = Calendario
GenericName[ms] = Kalendar
GenericName[tr] = Calendar-Indicator
GenericName[sk] = Kalendár
GenericName[uk] = Calendar-Indicator
GenericName[de] = Kalender
GenericName[zh_CN] = 日历
GenericName[hr] = Kalendar
GenericName[pl] = Kalendarz
GenericName[hu] = Calendar-Indicator
GenericName[fi] = Kalenteri
GenericName[et] = Calendar-Indicator
GenericName[gl] = Calendario
GenericName[cs] = Kalendář
GenericName[pt_BR] = Calendário
GenericName[ca] = Calendari
GenericName[sl] = Calendar-Indicator
GenericName[ru] = Calendar-Indicator
GenericName[nb] = Calendar-Indicator
GenericName[ko] = Calendar-Indicator
GenericName[el] = Ημερολογιο
GenericName[pt] = Calendário
