[Desktop Entry]
Name=Calendar-Indicator
Version=0.0.1.0
Exec=/usr/share/calendar-indicator/calendar-indicator.py
Comment=Calendar-Indicator
Icon=/usr/share/pixmaps/calendar-indicator.svg
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Utility;
Name[es_ES]=Calendar-Indicator
